.splitview {
	height: 100vh;
}

.splitview-left {
	/* border-right: 1px solid black; */
	position: fixed;
	width: 20%;
	height: 100vh;
}

.splitview-middle {
	width: 45%;
	position: relative;
	left: 20%;
	padding: 1em;
}

.splitview-right {
	width: 35%;
	position: fixed;
	right: 0;
	top: 60px;
	height: 100vh;
}
